/* Importing Google fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #5f41e4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  max-width: 425px;
  flex-grow: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.search-section {
  display: flex;
  padding: 25px;
  align-items: center;
  gap: 10px;
}

.search-section .input-wrapper {
  height: 54px;
  width: 100%;
  position: relative;
}

.search-section .input-wrapper span  {
  position: absolute;
  top: 50%;
  left: 17px;
  pointer-events: none;
  transform: translateY(-50%);
}

.search-section .search-input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  padding: 0 20px 0 50px;
  border-radius: 6px;
  border: 1px solid #beb0ff;
  text-transform: uppercase;
  transition: 0.1s ease;
}

.search-section .search-input:focus {
  border-color: #5f41e4;
}

.search-section .search-input::placeholder {
  text-transform: none;
}

.search-section .location-button {
  height: 54px;
  width: 56px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  color: #5f41e4;
  background-color: #fff;
  border-radius: 6px;
  border: 1px solid #beb0ff;
  transition: 0.3s ease;
}

.search-section .location-button:hover {
  color: #fff;
  background-color: #5f41e4;
  border-color: #5f41e4;
}

.search-section .location-button span {
  font-size: 1.3rem;
}

.no-result {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

body.show-no-result .no-result {
  display: flex;
}

.no-result .title {
  font-size: 1.5rem;
  font-weight: 600;
}

.no-result .message {
  font-size: 1rem;
  color: #555;
  line-height: 1.3;
}

body.show-no-result .weather-section {
  visibility: hidden;
}

.weather-section .current-weather {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0 50px;
}

.weather-section .current-weather .weather-icon {
  width: 140px;
  aspect-ratio: 1;
}

.current-weather .temperature {
  font-size: 3.38rem;
  padding: 23px 0;
  display: flex;
}

.current-weather .temperature span {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 5px 0 0 2px;
}

.current-weather .description {
  font-size: 1.25rem;
  font-weight: 500;
}

.hourly-weather {
  padding: 16px;
  border: 1px solid #d5ccff;
}

.hourly-weather .weather-list {
  display: flex;
  list-style: none;
  gap: 38px;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  padding-bottom: 16px;
  margin-bottom: -16px;
}

.hourly-weather:hover .weather-list {
  scrollbar-color: #bfbfbf transparent;
}

.hourly-weather .weather-item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-weight: 500;
  align-items: center;

}

.hourly-weather .weather-item .weather-icon {
  width: 28px;
  aspect-ratio: 1;
}

/* Responsive media query code for small screen */
@media (max-width: 624px) {
  body {
    padding: 15px;
  }

  .search-section {
    padding: 20px;
  }

  .hourly-weather {
    padding: 16px 20px;
  }

  .hourly-weather .weather-list {
    gap: 32px;
  }

}